@import "../../../assets/scss/mixins-and-variables.scss";
.cv-info{
    margin: $content-measurements;
    .personal-details{
        display: flex;
        justify-content: space-around;
        .fading-images{
        height: 300px;
        width: 300px;
        transition: background 0.5s linear;
        background-size: cover;
        border-radius: 20px;
        border: 3px solid black;
        }
        .text-details{
            display: flex;
            flex-direction: column;
            font-size: larger;
            height: fit-content;
            text-align: end;
            @include text-box;
            .pronouns{
                label:not(:last-child)::after{
                    content: '/';
                }
            }
        }
    }
    .links{
        @include text-box;
        display: flex;
        justify-content: center;
        padding: 15px 34px;
        border-radius: 40px;
        margin-top: 30px;
        h2{
            margin-top: 0;
        }
        .jobs{
            padding-right: 7.5px;
            text-align: end;
            border-right: 3px dotted black;
            span{
                margin-right: 15px;
            }
        }
        .edus{
            padding-left: 7.5px;
            span{
                margin-left: 15px;
            }
        }
        .job-index, .education-index{
            display: flex;
            flex-direction: column;
            .job-edu-link{
                text-decoration: none;
                .small-image{
                    width: 50px;
                }
                span{
                    position: relative;
                    top: -17px;
                    text-decoration: underline;
                }
            }
        }
    }
}
