/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/mixins-and-variables.scss";
button{
    color: $link-colour;
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 25px;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

// html{
//     background: url(../src/assets/images/pier.jpg) no-repeat center center fixed;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }